<h1>ALL LISTS</h1>
<br>
<div class="container d-flex">
  <ul class="list-group col-10">
        <% @lists.each do |list| %>
    <li class="list-group-item"><%= link_to list.name, list_path(list) %></li>
        <% end %>
  </ul>

  <br>

  <button class="btn btn-success justify-content-end col-2">
  <%= link_to 'CREATE NEW LIST', new_list_path %>
  </button>
</div>
