<h1>ALL LISTS</h1>
<br>
<div class="container">

  <ul class="list-group d-flex justify-content-start">
        <% @lists.each do |list| %>
    <li class="list-group-item">
    <%= link_to list.name, list_path(list) %></li>
        <% end %>
  </ul>
<%= cl_image_tag("mountains.jpg",
      width: 400, height: 300, crop: :fill) %>
  <br>

  <button class="btn btn-success">
  <%= link_to 'CREATE NEW LIST', new_list_path %>
  </button>
</div>
